# Hidden files
.DS_Store
.envrc

# Directories
build/
dist/
tmp/

# Files
Thumbs.db
npm-debug.log
*~

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
node_modules
.pnp.*
.yarn/*
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Netlify
.netlify
