# Note: This can't be a symlink to the template stored in ./lib/templates as git
# otherwise will get confused by an infinite recursion of .gitignore files, so
# it needs to be a copy.

# Important files that should not be committed
.envrc

# Build directories
build/
dist/
tmp/

# Junk files
.DS_Store
Thumbs.db
lerna-debug.log
npm-debug.log
yarn-error.log
*~

# Tool directories
.claude/
.cursor/
.netlify/
.taskmaster/
.turbo/
.yarn/
node_modules/
